/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

label.medium { width: 150px; display: inline-block; cursor: pointer; }
body { font-family: monospace; margin-top: 72px; }
#menu {
  background: #222;
  padding: 8px;
  color: #939393;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}
#page_title { font-size: 40px; font-weight: bold; }
#logo { margin-bottom: -4px; margin-left: 4px; margin-right: 4px; position: relative; z-index: 2; }
#eyes { position: absolute; left: 12px; top: 10px; z-index: 1; }
#locale_box { border-left: 1px solid #333; position: absolute; right: 0; top: 0; bottom: 0; padding: 5px; }
#locale_box > div { text-align: center; margin-bottom: 5px; }
