/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
label { cursor: pointer; }
p { margin: 0 0 18px ; }
input, textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 9px;
}
body { font-family: monospace; margin: 0; margin-top: 56px; font-size: 13px; }
#menu {
  background: #222;
  padding: 8px;
  color: #939393;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#page_title { font-size: 16px; font-weight: bold; }
#logo { margin-bottom: -4px; margin-left: 4px; margin-right: 4px; position: relative; z-index: 2; }
#eyes { position: absolute; left: 12px; top: 8px; z-index: 1; }
#locale_box { border-left: 1px solid #282828; background: #333; position: absolute; right: 0; top: 0; bottom: 0; padding: 5px 10px; }
#locale_box > div { text-align: center; margin-bottom: 5px; }
form { position: absolute; left: 0; }
form > p { background: #f1f1f1; border: 1px solid #ebebeb; padding: 10px; }
#error_explanation{
  padding: 25px;
  background: #58494B;
  color: #E94F64;
  b{ color: #F4AAB4; }
}
